.admin {
  padding-left: 10rem;  
  padding-right: 10rem; 
}

.admin .create-league {
  padding-bottom: 2rem;
}

.btn {
  background-color: var(--tertiary-color);
  width: 10rem;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover{
  background-color: var(--primary-color);
}

.users h1 {
  text-align: left;
  float: left;
  display: inline-block;
}

.add-user-input {
  padding-top: .4rem;
}


.create-tierlist {
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.submit-league {
  font: normal 500 30px/50px "Work Sans";
  width: 18rem;
}