@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);
@import url(./navbar.css);
@import url(./home.css);
@import url(./admin.css);

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.title {
  text-align: center;
}

.bg-image {
  background-image: url('../images/route18.png');
  filter: blur(10px);
  opacity: .25;
  -webkit-filter: blur(10px);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  padding:0px;
  z-index: 0;

}

