{% extends "_base.html" %}
{% block title %}Welcome to Drafty!{% endblock %}
{% block body %}
<main class="home">
  <section class="title section1">
    <div class="row">
    <div class="col-lg-5 col-md-10">
      <img src="../static/images/logo.svg" alt="Image failed to load"></img>
    </div>
    <div class="col-lg-6 col-md-12">
      <h1><span> Pokemon Draft Leagues Made Easy.</span></h1>
    </div>
  </div>
  <p>
    Drafty is a Discord bot made for creating and managing Pokemon Draft Leagues.
  </p>
  </section>
</main>
{% endblock %}