{% extends "_base.html" %}
{% block title %}Welcome to Drafty!{% endblock %}
{% block body %}
<main class="home">
  <div class="bg-image"></div>
  <section class="title">
    <div class="container">
      <h1>Pokemon Draft Leagues made simple.</h1>
      <div class="row align-items-center">
        <div class="col-lg img">
          <img src="../static/images/logo.svg" alt="Image failed to load"></img>
        </div>
        <div class="col-lg txt">
          Say hello to Drafty, a fully functional Discord Bot built to make your Pokemon Draft League easier to run and manage.
        </br></br><button type="button" class="btn" onclick="window.location.href='/how_to_setup'">How to Setup</button>
        </div>
      </div>
    </section>
</main>
{% endblock %}