{% extends "_base.html" %}
{% block title %}View League{% endblock %}
{% block body %}
<main class="leagues">
  <section class="section1">
    <h1>View Leagues</h1>
    {% for lg in leagues %}
      {% for dlist in dlists %}
        {% for dlist_pkmn in dlist_pkmn %}
          {% if lg.id == dlist.id and lg.dlist_id == dlist_pkmn.id %}
            <h2>{{lg.name}}'s Draft List</h2>
            <table class="table-dark">
              <thead>
                <tr>
                    <th scope="col">{{ dlist_pkmn.name }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
        {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </section>
</main>
{% endblock %}